<div class="formDiv">
    <h2>About</h2>
    <div class="content">
        <p>
            Result Fetcher Website is a web interface, which provides a means to view and visualise semester result of
            students, that can be used to identify the trends in the data.
        </p>
        <p>
            It also provides additional functionalities like filtering and sorting the data and currently allows the
            users to download the result in two formats i.e. CSV & PDF
        </p>

        <p>
            It is uses the following technologies: Angular, Django, Selenium, Tensorflow
        </p>
    </div>
</div>