.resultTable {
  margin: 0 auto;
  width:90%;
  background-color:white;
  margin-top:50px;
  margin-bottom:50px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  padding:10px;
  border-radius:1rem;
  overflow-y: auto;
}
table {
  width: 100%;
}
