<div class="formDiv" *ngIf="!loggedIn(); else GenerateForm">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br>
        <button type="submit" mat-stroked-button [disabled]="loginForm.invalid" color=accent>submit</button>
    </form>
</div>

<ng-template #GenerateForm>
    <div class="formDiv">
        <h2>Add Result</h2>
        <form [formGroup]="resultForm" (ngSubmit)="generate()">
            <div>
                <label>Result Type* : </label>
                <mat-radio-group aria-label="Select an option" formControlName="res_type">
                    <mat-radio-button value="M">Main (M)</mat-radio-button> &nbsp;
                    <mat-radio-button value="R">Revaluation (R)</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Course</mat-label>
                <mat-select required formControlName="course">
                    <mat-option value="BE">BE</mat-option>
                    <mat-option value="MCA">MCA</mat-option>
                    <mat-option value="ME">ME</mat-option>
                    <mat-option value="MTECH">M.Tech.</mat-option>
                    <mat-option value="BTECH">B.Tech.</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Sem</mat-label>
                <mat-select required formControlName="sem">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                    <mat-option value="6">6</mat-option>
                    <mat-option value="7">7</mat-option>
                    <mat-option value="8">8</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Starting Rollno</mat-label>
                <input matInput required formControlName="roll_no">
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>No of results</mat-label>
                <input matInput required formControlName="no">
            </mat-form-field>
            <br>
            <button type="submit" mat-stroked-button [disabled]="resultForm.invalid" color=accent>submit</button>
        </form>
    </div>
</ng-template>