/* You can add global styles to this file, and also import other style files */

$prim: #707070;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: url('assets/images/bg-1024x640.png');
  background-position: center center;
  background-size: 100% auto;
  background-attachment: fixed;

}
